body{
    text-align: center;
    margin:0 ;
}
h2{
    background-color: aquamarine;
}
td{
    background-color: aquamarine;
    text-align: center;
}
button{
    background-color: aquamarine;
text-align: center;
}
